version: '3.9'

services:
  db:
    image: postgres:15
    container_name: jobportal-db
    environment:
      POSTGRES_USER: jobuser
      POSTGRES_PASSWORD: jobpass
      POSTGRES_DB: jobportal
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: jobportal-web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - minio
    environment:
      - DATABASE_NAME=jobportal
      - DATABASE_USER=jobuser
      - DATABASE_PASSWORD=jobpass
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET_NAME=jobportal-media

  minio:
    image: minio/minio
    container_name: jobportal-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data    
  
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  celery:
    build: .
    command: bash -c "celery -A job_portal worker -l info"
    volumes:
      - .:/app
    depends_on:
      - redis

  celery-beat:
    build: .
    command: bash -c "celery -A job_portal beat -l info"

    volumes:
      - .:/app
    depends_on:
      - redis
      
volumes:
  postgres_data:
  minio_data:
